<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucar.qtcassist.dao.EvaluateUserCourseMapper" >
  <resultMap id="BaseResultMap" type="com.ucar.qtcassist.model.EvaluateUserCourse" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="evaluate_score" property="evaluateScore" jdbcType="REAL" />
    <result column="evaluate_content" property="evaluateContent" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, course_id, evaluate_score, evaluate_content, publish_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from evaluate_user_course_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from evaluate_user_course_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ucar.qtcassist.model.EvaluateUserCourse" >
    insert into evaluate_user_course_relation (id, user_id, course_id, 
      evaluate_score, evaluate_content, publish_date
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, 
      #{evaluateScore,jdbcType=REAL}, #{evaluateContent,jdbcType=VARCHAR}, #{publishDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ucar.qtcassist.model.EvaluateUserCourse" >
    insert into evaluate_user_course_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="evaluateScore != null" >
        evaluate_score,
      </if>
      <if test="evaluateContent != null" >
        evaluate_content,
      </if>
      <if test="publishDate != null" >
        publish_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="evaluateScore != null" >
        #{evaluateScore,jdbcType=REAL},
      </if>
      <if test="evaluateContent != null" >
        #{evaluateContent,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ucar.qtcassist.model.EvaluateUserCourse" >
    update evaluate_user_course_relation
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="evaluateScore != null" >
        evaluate_score = #{evaluateScore,jdbcType=REAL},
      </if>
      <if test="evaluateContent != null" >
        evaluate_content = #{evaluateContent,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null" >
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ucar.qtcassist.model.EvaluateUserCourse" >
    update evaluate_user_course_relation
    set user_id = #{userId,jdbcType=BIGINT},
      course_id = #{courseId,jdbcType=BIGINT},
      evaluate_score = #{evaluateScore,jdbcType=REAL},
      evaluate_content = #{evaluateContent,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>