<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucar.qtc.admin.dao.MenuDao">

	<select id="get" resultType="com.ucar.qtc.admin.domain.MenuDO">
		select `menu_id`,`parent_id`,`name`,`url`,`perms`,`component`, `type`,`icon`,`order_num`,`create_time`,`update_time`,`del_flag`
		from sys_menu where menu_id = #{value}
	</select>

	<select id="list" resultType="com.ucar.qtc.admin.domain.MenuDO">
		select `menu_id`,`parent_id`,`name`,`url`,`perms`,`component`,`type`,`icon`,`order_num`,`create_time`,`update_time`,`del_flag`
		from sys_menu a
		<where>
			a.del_flag = 1
			<if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="name != null and name != ''">
				AND a.name LIKE concat('%',#{name},'%')
			</if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>

		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by menu_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="listFront" resultType="com.ucar.qtc.admin.domain.MenuDO">
		select `menu_id`,`parent_id`,`name`,`url`,`perms`,`component`,`type`,`icon`,`order_num`,`create_time`,`update_time`,`del_flag`
		from sys_menu a
		<where>
			a.del_flag = 1
			AND a.menu_type = 0
			<if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="name != null and name != ''">
				AND a.name LIKE concat('%',#{name},'%')
			</if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>

		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by menu_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="listBack" resultType="com.ucar.qtc.admin.domain.MenuDO">
		select `menu_id`,`parent_id`,`name`,`url`,`perms`,`component`,`type`,`icon`,`order_num`,`create_time`,`update_time`,`del_flag`
		from sys_menu a
		<where>
			a.del_flag = 1
			AND a.menu_type = 1
			<if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="name != null and name != ''">
				AND a.name LIKE concat('%',#{name},'%')
			</if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>

		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by menu_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from sys_menu a
		<where>
			a.del_flag = 1
			<if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
			<if test="name != null and name != ''">
				AND a.name LIKE concat('%',#{name},'%')
			</if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.ucar.qtc.admin.domain.MenuDO" useGeneratedKeys="true" keyProperty="menuId">
		insert into sys_menu
		(
		`parent_id`,
		`name`,
		`url`,
		`component`,
		`perms`,
		`type`,
		`icon`,
		`order_num`,
		`del_flag`
		)
		values
		(
		#{parentId},
		#{name},
		#{url},
		#{component},
		#{perms},
		#{type},
		#{icon},
		#{orderNum},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.ucar.qtc.admin.domain.MenuDO">
		update sys_menu
		<set>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="component != null">`component` = #{component}, </if>
			<if test="perms != null">`perms` = #{perms}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="icon != null">`icon` = #{icon}, </if>
			<if test="orderNum != null">`order_num` = #{orderNum}, </if>
		</set>
		where menu_id = #{menuId}
	</update>

	<delete id="remove">
        update sys_menu set del_flag = 0 where menu_id = #{value}
	</delete>

	<delete id="batchRemove">
		update sys_menu set del_flag = 0
		where menu_id in
		<foreach item="menuId" collection="array" open="(" separator="," close=")">
			#{menuId}
		</foreach>
	</delete>

	<select id="listMenuByUserId" resultType="com.ucar.qtc.admin.domain.MenuDO">
		select distinct
		m.menu_id , parent_id, `name`, url,
		perms,`type`,icon,order_num,create_time, update_time,del_flag from sys_menu m
		left join sys_role_menu rm on m.menu_id = rm.menu_id
		left join sys_user_role ur on rm.role_id =ur.role_id
		where ur.user_id = #{id} and
		m.type in(0,1,2) and
		m.del_flag = 1
		order by
		m.order_num
	</select>

	<select id="listBackMenuByUserId" resultType="com.ucar.qtc.admin.domain.MenuDO">
		select distinct
		m.menu_id , parent_id, `name`, url,
		perms,`type`,icon,order_num,create_time, update_time,del_flag from sys_menu m
		left join sys_role_menu rm on m.menu_id = rm.menu_id
		left join sys_user_role ur on rm.role_id =ur.role_id
		where ur.user_id = #{id} and
		m.type in(0,1,2) and
		m.del_flag = 1	and
		m.menu_type = 1
		order by
		m.order_num
	</select>

	<select id="listFrontMenuByUserId" resultType="com.ucar.qtc.admin.domain.MenuDO">
		select distinct
		m.menu_id , parent_id, `name`, url,
		perms,`type`,icon,order_num,create_time, update_time,del_flag,redirect from sys_menu m
		left join sys_role_menu rm on m.menu_id = rm.menu_id
		left join sys_user_role ur on rm.role_id =ur.role_id
		where ur.user_id = #{id} and
		m.type in(0,1,2) and
		m.del_flag = 1 and
		m.menu_type = 0
		order by
		m.order_num
	</select>

	<select id="listBackUserPerms" resultType="string">
		select distinct m.perms from sys_menu m
		left join sys_role_menu rm on m.menu_id = rm.menu_id
		left join sys_user_role ur on rm.role_id = ur.role_id
		where ur.user_id = #{id} and
		m.del_flag = 1 and
		m.menu_type = 1
	</select>
</mapper>