<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucar.qtc.admin.dao.UserDao">

	<select id="get" resultType="com.ucar.qtc.admin.domain.UserDO">
		select `user_id`,`username`,`password`,`name`,`userno`,`sex`,`nickname`,`email`,`mobile`,`dept_id`,
		`birth`,`avatar`,`address`,`create_time`,`update_time` from sys_user where user_id = #{value}
	</select>

	<select id="list" resultType="com.ucar.qtc.admin.domain.UserDO">
		select `user_id`,`username`,`password`,`name`,`userno`,`sex`,`nickname`,`email`,`mobile`,`dept_id`,
		`birth`,`avatar`,`address`,`create_time`,`update_time`,`del_flag` from sys_user a
        <where>
			a.del_flag = 1
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="username != null and username != ''">
				AND a.username LIKE concat('%',#{username},'%')
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE concat('%',#{name},'%')
			</if>
			<if test="userno != null and userno != ''">
				AND a.userno LIKE concat('%',#{userno},'%')
			</if>
			<if test="nickname != null and nickname != ''">
				AND a.nickname LIKE concat('%',#{nickname},'%')
			</if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="sex != null and sex != ''"> and sex = #{sex} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="birth != null and birth != ''"> and birth = #{birth} </if>
			<if test="avatar != null and avatar != ''"> and avatar = #{avatar} </if>
			<if test="address != null and address != ''"> and address = #{address} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by user_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_user a
		<where>
			a.del_flag = 1
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="username != null and username != ''">
				AND a.username LIKE concat('%',#{username},'%')
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE concat('%',#{name},'%')
			</if>
			<if test="nickname != null and nickname != ''">
				AND a.nickname LIKE concat('%',#{nickname},'%')
			</if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="sex != null and sex != ''"> and sex = #{sex} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="mobile != null and mobile != ''"> and mobile = #{mobile} </if>
			<if test="deptId != null and deptId != ''"> and dept_id = #{deptId} </if>
			<if test="birth != null and birth != ''"> and birth = #{birth} </if>
			<if test="avatar != null and avatar != ''"> and avatar = #{avatar} </if>
			<if test="address != null and address != ''"> and address = #{address} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.ucar.qtc.admin.domain.UserDO" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user
		(
			`username`, 
			`name`, 
			`password`,
			`nickname`,
			`sex`,
			`userno`,
			`email`, 
			`mobile`, 
			`dept_id`,
			`birth`,
			`avatar`,
			`address`,
			`del_flag`
		)
		values
		(
			#{username}, 
			#{name}, 
			#{password},
			#{nickname},
			#{sex},
			#{userno},
			#{email}, 
			#{mobile},
			#{deptId},
			#{birth},
			#{avatar},
			#{address},
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.ucar.qtc.admin.domain.UserDO">
		update sys_user 
		<set>
			<if test="username != null">`username` = #{username}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="nickname != null">`nickname` = #{nickname}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="userno != null">`userno` = #{userno}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="deptId != null">`dept_id` = #{deptId}, </if>
			<if test="birth != null">`birth` = #{birth}, </if>
			<if test="avatar != null">`avatar` = #{avatar}, </if>
			<if test="address != null">`address` = #{address}, </if>
		</set>
		where user_id = #{userId}
	</update>
	
	<delete id="remove">
		update sys_user set del_flag = 0 where user_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		update sys_user set del_flag = 0
		where user_id in
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>

	<select id="listAllDept" resultType="long">
		select DISTINCT dept_id from sys_user
	</select>
</mapper>