<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucar.qtcassist.schedule.dao.CoursePlanMapper" >
  <resultMap id="BaseResultMap" type="com.ucar.qtcassist.api.model.DO.CoursePlanDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="course_id" property="courseId" jdbcType="BIGINT" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR"/>
    <result column="course_description" property="courseDescription" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    assist_course_plan.id, plan_id, course_id ,course_name,course_description
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from assist_course_plan left join assist_course on course_id = assist_course.id
    where plan_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCourseName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id,course_name,course_description
    from assist_course where del_flag=1
    <if test="courseName != null and courseName != ''">
    and course_name like  concat('%', #{courseName}, '%')
    </if>
    <if test="offset !=null">
      limit #{offset},#{pageSize}
    </if>
  </select>

  <select id="selectTotal"  resultType="java.lang.Integer">
    select count(1) from assist_course where del_flag=1
    <if test="courseName != null and courseName != ''">
      and course_name like  concat('%', #{courseName}, '%')
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from assist_course_plan
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.ucar.qtcassist.api.model.DO.CoursePlanDO" useGeneratedKeys="true" keyProperty="id">
    insert into assist_course_plan (plan_id, course_id)
    values (#{planId,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.ucar.qtcassist.api.model.DO.CoursePlanDO" useGeneratedKeys="true" keyProperty="id">
    insert into assist_course_plan (plan_id,course_id) values
    <foreach collection="courseIds" item="courseId" index="index" separator=",">
      (#{planId},#{courseId})
    </foreach>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ucar.qtcassist.api.model.DO.CoursePlanDO" >
    update assist_course_plan
    <set >
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ucar.qtcassist.api.model.DO.CoursePlanDO" >
    update assist_course_plan
    set plan_id = #{planId,jdbcType=BIGINT},
      course_id = #{courseId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>