<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucar.qtcassist.schedule.dao.PlanMapper" >
  <resultMap id="BaseResultMap" type="com.ucar.qtcassist.api.model.DO.PlanDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="plan_title" property="planTitle" jdbcType="VARCHAR" />
    <result column="plan_content" property="planContent" jdbcType="VARCHAR" />
    <result column="plan_destination" property="planDestination" jdbcType="VARCHAR" />
    <result column="plan_score" property="planScore" jdbcType="REAL" />
    <result column="builder_id" property="builderId" jdbcType="BIGINT" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, plan_title, plan_content, plan_destination, plan_score, builder_id, del_flag
  </sql>

  <sql id="Base_Condition">
    where del_flag = 1
    <if test="planTitle != null and planTitle != ''">
      and plan_title like  concat('%', #{planTitle}, '%')
    </if>
    <if test="userId !=null ">
      and builder_id = #{userId}
    </if>
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from assist_plan
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="queryPlan" resultMap="BaseResultMap" parameterType="com.ucar.qtcassist.schedule.dto.QueryPlanDTO">
    select
    <include refid="Base_Column_List"/>
    from assist_plan
    <include refid="Base_Condition"/>
    ORDER BY id desc
    <if test="offset !=null">
      limit #{offset},#{pageSize}
    </if>
  </select>

  <select id="queryTotal" resultType="java.lang.Integer" parameterType="com.ucar.qtcassist.schedule.dto.QueryPlanDTO">
    select count(1) from assist_plan
    <include refid="Base_Condition"/>
  </select>

  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update assist_plan
    set del_flag = 0
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insert" parameterType="com.ucar.qtcassist.schedule.dto.PlanDTO" useGeneratedKeys="true" keyProperty="id">
    insert into assist_plan (plan_title, plan_content,
      plan_destination, plan_score, builder_id,del_flag
      )
    values (#{planTitle,jdbcType=VARCHAR}, #{planContent,jdbcType=VARCHAR},
      #{planDestination,jdbcType=VARCHAR}, #{planScore,jdbcType=REAL}, #{userId,jdbcType=BIGINT},1
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ucar.qtcassist.schedule.dto.PlanDTO" useGeneratedKeys="true" keyProperty="id">
    insert into assist_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planTitle != null" >
        plan_title,
      </if>
      <if test="planContent != null" >
        plan_content,
      </if>
      <if test="planDestination != null" >
        plan_destination,
      </if>
      <if test="planScore != null" >
        plan_score,
      </if>
      <if test="builderId != null" >
        builder_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planTitle != null" >
        #{planTitle,jdbcType=VARCHAR},
      </if>
      <if test="planContent != null" >
        #{planContent,jdbcType=VARCHAR},
      </if>
      <if test="planDestination != null" >
        #{planDestination,jdbcType=VARCHAR},
      </if>
      <if test="planScore != null" >
        #{planScore,jdbcType=REAL},
      </if>
      <if test="builderId != null" >
        #{builderId,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ucar.qtcassist.schedule.dto.PlanDTO" >
    update assist_plan
    <set >
      <if test="planTitle != null" >
        plan_title = #{planTitle,jdbcType=VARCHAR},
      </if>
      <if test="planContent != null" >
        plan_content = #{planContent,jdbcType=VARCHAR},
      </if>
      <if test="planDestination != null" >
        plan_destination = #{planDestination,jdbcType=VARCHAR},
      </if>
      <if test="planScore != null" >
        plan_score = #{planScore,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ucar.qtcassist.api.model.DO.PlanDO" >
    update assist_plan
    set plan_title = #{planTitle,jdbcType=VARCHAR},
      plan_content = #{planContent,jdbcType=VARCHAR},
      plan_destination = #{planDestination,jdbcType=VARCHAR},
      plan_score = #{planScore,jdbcType=REAL},
      builder_id = #{builderId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>