<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ucar.qtcassist.courseware.dao.CoursewareMapper">
    <resultMap id="BaseResultMap" type="com.ucar.qtcassist.courseware.model.DO.CoursewareDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type_id" property="typeId" jdbcType="BIGINT"/>
        <result column="base_courseware_id" property="baseCoursewareId" jdbcType="INTEGER"/>
        <result column="courseware_num" property="coursewareNum" jdbcType="VARCHAR"/>
        <result column="courseware_name" property="coursewareName" jdbcType="VARCHAR"/>
        <result column="courseware_description" property="coursewareDescription" jdbcType="VARCHAR"/>
        <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.ucar.qtcassist.courseware.model.DO.BackDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="courseware_name" property="coursewareName" jdbcType="VARCHAR"/>
        <result column="courseware_description" property="coursewareDescription" jdbcType="VARCHAR"/>
        <result column="courseware_name" property="baseCoursewareName" jdbcType="VARCHAR"/>
        <result column="courseware_description" property="baseCoursewareDescription" jdbcType="VARCHAR"/>
        <result column="preview_url" property="preUrl" jdbcType="VARCHAR"/>
        <result column="source_url" property="sourceUrl" jdbcType="VARCHAR"/>
        <result column="type_name" property="coursewareType" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, type_id, base_courseware_id,courseware_num, courseware_name, courseware_description, publish_time,
    update_time
  </sql>
    <select id="selectBack" parameterType="com.ucar.qtcassist.api.model.VO.CoursewareQueryVO"
            resultMap="BaseResultMap2">
        select
        ac.courseware_name,ac.courseware_description,abc.courseware_name,abc.courseware_description,
        abc.preview_url,abc.source_url,act.type_name
        from assist_course_type act,assist_courseware ac,assist_base_courseware abc
        <where>
            <if test="coursewareName!=null">
              ac.courseware_name like CONCAT('%',#{coursewareName, jdbcType=VARCHAR},'%')
            </if>
            and ac.type_id=act.id
            and ac.base_courseware_id=abc.id
        </where>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from assist_courseware
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByListKey" resultMap="BaseResultMap" parameterType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from assist_courseware
        <where>
            <foreach collection="list" item="id" open="id in (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from assist_courseware
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.ucar.qtcassist.courseware.model.DO.CoursewareDO">
        insert into assist_courseware ( type_id, base_courseware_id,courseware_num,
        courseware_name, courseware_description,
        publish_time, update_time)
        values ( #{typeId,jdbcType=BIGINT},#{baseCoursewareId,jdbcType=INTEGER},#{coursewareNum,jdbcType=INTEGER},
        #{coursewareName,jdbcType=VARCHAR}, #{coursewareDescription,jdbcType=VARCHAR},
        #{publishTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.ucar.qtcassist.courseware.model.DO.CoursewareDO">
        insert into assist_courseware
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeId != null">
                type_id,
            </if>
            <if test="baseCoursewareId != null">
                base_courseware_id,
            </if>
            <if test="coursewareNum !=null">
                courseware_num,
            </if>
            <if test="coursewareName != null">
                courseware_name,
            </if>
            <if test="coursewareDescription != null">
                courseware_description,
            </if>
            <if test="publishTime != null">
                publish_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=BIGINT},
            </if>
            <if test="baseCoursewareId != null">
                #{baseCoursewareId,jdbcType=INTEGER},
            </if>
            <if test="coursewareNum != null">
                #{coursewareNum,jdbcType=INTEGER},
            </if>
            <if test="coursewareName != null">
                #{coursewareName,jdbcType=VARCHAR},
            </if>
            <if test="coursewareDescription != null">
                #{coursewareDescription,jdbcType=VARCHAR},
            </if>
            <if test="publishTime != null">
                #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ucar.qtcassist.courseware.model.DO.CoursewareDO">
        update assist_courseware
        <set>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=BIGINT},
            </if>
            <if test="baseCoursewareId != null">
                base_courseware_id = #{baseCoursewareId,jdbcType=INTEGER},
            </if>
            <if test="coursewareName != null">
                courseware_name = #{coursewareName,jdbcType=VARCHAR},
            </if>
            <if test="coursewareNum != null">
                courseware_num = #{coursewareNum,jdbcType=VARCHAR},
            </if>
            <if test="coursewareDescription != null">
                courseware_description = #{coursewareDescription,jdbcType=VARCHAR},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ucar.qtcassist.courseware.model.DO.CoursewareDO">
    update assist_courseware
    set type_id = #{typeId,jdbcType=BIGINT},
      base_courseware_id = #{baseCoursewareId,jdbcType=INTEGER},
      courseware_num = #{coursewareNaum,jdbcType=VARCHAR},
      courseware_name = #{coursewareName,jdbcType=VARCHAR},
      courseware_description = #{coursewareDescription,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>